$white    : #fff;
$black    : #000;

// base colors ...

$base-text  : #000;
$base-bg    : #eee;
$base-link  : #000;

// borders ...

$base-border-color  : #bbb;
$input-color        : #000;

//h1,h2,h3 ...

$heading-color      : $black;

// btn ...

$btn-color: $black;
$btn-hover-color: $black;
$btn-border-color: $black;
$btn-hover-border-color: $black;
$btn-background-color: $black;
$btn-hover-background-color: $black;